* {
    font-family: 'Orbitron', sans-serif;
}

#map {
    height: 400px;
    width: 400px;
    border-radius: 100%;   
   }

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

body {
      text-align: center;
      color: white;
      display: grid;
      justify-content: center;
      align-items: center;
      font-size: .8rem;
}